[2015-06-30 21:29] maksimr opened #1 "Failed to activate the refactor package"
[Enter steps to reproduce below:]

1. install plugin
2. open editor

**Atom Version**: 1.0.0
**System**: Ubuntu 14.04.2
**Thrown From**: [refactor](https://github.com/hax/refactor) package, v0.5.1

### Stack Trace

Failed to activate the refactor package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-07-01 10:54] mat-b- opened #2 "PHP support"
It would be great if Atom could refactor PHP!

[2015-07-01 14:27] azat-co opened #3 "Package.activateConfig is deprecated."
Use a config schema instead. See the configuration section
of https://atom.io/docs/latest/hacking-atom-package-word-count and
https://atom.io/docs/api/latest/Config for more details
[code]

[2015-07-16 09:45] DanielSundberg opened #4 "Can't do rename"
First I had to struggle to find and available keyboard mapping, ctrl-alt-r was occupied by "window:reload" which made it very difficult to find out what was going on.

When I did find a shortcut key I can't get it to do a rename at all. When I press the keyboard shortcut nothing happens.

Is there anything I can do to help debug this problem?

[2015-07-16 09:57] DanielSundberg opened #5 "Error after installing js-refactor"
TypeError: Cannot read property '38' of undefined
  at Ripper.module.exports.Ripper.find (C:\Users\username\.atom\packages\js-refactor\lib\ripper.coffee:49:21)
  at Watcher.module.exports.Watcher.createReferences (C:\Users\username\.atom\packages\refactor\lib\watcher.coffee:135:22)
  at Watcher.module.exports.Watcher.onParseEnd (C:\Users\username\.atom\packages\refactor\lib\watcher.coffee:108:8)

[2015-07-19 11:56] imevro commented on #3
Anyone?

[2015-07-21 15:53] imevro commented on #3
It isn't working and it really bad.

@hax @minodisk @seriema

[2015-07-21 17:48] seriema commented on #3
@theaqua can you be a bit more specific? =) If it isn't this exact issue, feel free to create a new issue. (I'm not officially affiliated in any way, I just did some PR's)

[2015-07-21 20:58] imevro commented on #3
@seriema oh, sorry, I just checked contributors :smile:

![image](https://cloud.githubusercontent.com/assets/775692/8812353/4791ee04-3004-11e5-90a5-7862614b4ca1.png)

About more specific: package's call is deprecated, as Atom said. When I'm trying Report issue, it redirect me to this issue.

[2015-07-29 12:23] cperrin88 commented on #5
:+1: I have the same problem. Atom 1.0.3

[2015-07-30 01:06] hax commented on #3
I will check it this weekend. :sweat_smile:

[2015-07-31 00:50] harlantwood opened #6 "coffee-refactor has been **unpublished** from apm"
@minodisk said in a new issue ([This package is unpublished from apm now](https://github.com/minodisk/coffee-refactor/issues/9)):

Alerting here because you mention it in your instructions <https://atom.io/packages/refactor> -- and in case @hax or some other generous community member might like to take this on...

[2015-08-17 11:53] MatejKafka commented on #4
Same issue here

[2015-08-25 04:24] tusharmath opened #7 "Crashes on opening a .js file"
steps to reproduce

1. Install js-refactor
2. Instal refactor
3. Open a .js file

**Atom Version**: 1.0.7
**System**: Mac OS X 10.10.4
**Thrown From**: [js-refactor](https://github.com/hax/js-refactor) package, v0.4.2

### Stack Trace

Uncaught TypeError: Cannot read property '18' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-28 14:58] TBotV63 commented on #7
Could you change the title to be more descriptive please?

[2015-09-02 09:37] hax commented on #4
Currently only JavaScript is supported (coffeescript support is no maintainer now), so if you think there are some cases should be able to rename but not works, please paste a code snippet here. Thank you!

[2015-09-02 09:41] hax commented on #7
Could you paste the js code that cause crash?

[2015-09-02 09:43] hax commented on #6
~~Unfortunately we do not have maintainer for coffee-refactor now :crying_cat_face:.~~
https://github.com/Ragg-/coffee-refactor

[2015-09-02 10:34] DanielSundberg commented on #4
I've got it working now by installing refactor and js-refactor again. Then I added the following in my keymap file:

[code]

Now when I press ctrl-alt-shift-e all words matching that at my cursor get selected and I can start typing to rename. It was not obvious that this was how it was supposed to work. Maybe this was the way it worked the last time I tried this?

I know you've got an animation in

[2015-09-02 11:38] DanielSundberg commented on #4
Almost immediately I get another error: https://github.com/hax/js-refactor/issues/1

I will uninstall once again.

[2015-09-02 12:36] #3 closed

[2015-09-02 12:51] hax commented on #4
@DanielSundberg The default keybinding of "window:reload" is "ctrl-alt-cmd L", so it seems you customized it. But anyway, you could suggest a shortcut which you think better than "ctrl-alt-r" in a new issue :grinning:

[2015-09-02 12:58] hax commented on #3
I will release a new version soon.

[2015-09-02 13:01] DanielSundberg commented on #4
On windows "ctrl-alt-r" is default for "window:reload".

[2015-09-02 18:01] hax commented on #4
@DanielSundberg Oh, my mistake. Do you have any suggestion? :panda_face:

[2015-09-02 18:26] DanielSundberg commented on #4
Sorry, I don't have any suggestions. F2 or "ctrl-r, ctrl-r" would have worked but both seem to be occupied in Atom (ctrl-r is bound to "symbols-view:toggle-file-symbols" which probably disqualifies "ctrl-r,ctrl-r"). Finding good key bindings is very difficult...

[2015-09-02 20:10] tusharmath commented on #7
Happens in any js file.

[2015-09-08 08:23] hax commented on #7
I just published a new version (0.6.0), could you update to the latest version and check the status?

[2015-09-08 08:26] hax commented on #5
I just published new version (0.6.0) and should solve this issue, could you update to the latest version of refactor/js-refactor and check the status?

[2015-09-08 08:46] hax commented on #4
I just published new version (0.6.0) which include many fixes and improvements (eg. experimental support of babel and jsx). Please update and check :smile:

[2015-09-08 08:49] hax commented on #1
You need also install language plugins. Currently [JavaScript plugin](https://atom.io/packages/js-refactor) and [CoffeeScript plugin](https://atom.io/packages/coffee-refactor) is available.

[2015-09-08 08:53] maksimr commented on #1
@hax Thanks

[2015-09-08 08:59] #6 closed

[2015-09-08 10:47] #1 closed

[2015-09-08 11:09] hax commented on #6
@Ragg- Could you change the settings of your repo to enable issue tracking?

[2015-09-10 17:07] webxl opened #8 "Add "Introduce variable" feature"
This is particularly helpful when you want to assign part of a series chained methods into a reusable value.

[2015-09-21 10:46] radekn opened #9 "User settings are ignored"
In the package settings, there are two options: "Highlight Error" and "Highlight Reference", enabled by default. Switching them off has no effect - reference and error markers still appear, even after restarting the editor.

[2015-09-21 11:10] radekn opened #10 "Reference markers leak (stay after they shoud have disappeared)"
I start renaming some local variable in javascript, and then cancel the rename (e.g. by pressing Escape, or move cursor outside of the variable name). After I move the cursor out of the variable name, the reference markers for this variable are still shown. If I repeat this process, I will end up with more of them overlaid on top of each other. There seems to be no way of getting them to disappear

[2015-09-22 09:41] Kurtas commented on #4
Still not working on Windows, because of bad mapping ( "ctrl-alt-r" is default for "window:reload"). I don't know but Atom ignore my user setting for other keys maps.

[2015-09-22 09:56] damianh commented on #4
:+1: to changing to F2

[2015-09-22 10:42] DanielSundberg commented on #4
F2 is mapped to 'bookmarks:jump-to-next-bookmark' on Windows....

[2015-09-22 12:50] damianh commented on #4
so it is, hmm

[2015-09-22 19:07] schlichtanders opened #12 "refactoring within whole project"
It would be great to have a plugin which handles renaming/refactoring on project level
Is this possible already with this plugin? or maybe not intended at all?

[2015-10-22 08:57] tusharmath commented on #7
Fixed. Sorry for a delayed response. I had given up on Atom and started using webstorm.

[2015-10-22 08:57] #7 closed

[2015-11-06 13:59] ZoRDoK commented on #4
similar issue on linux
rebinding but not work

solved:
'body':
  'ctrl-alt-r': 'unset!'
'atom-text-editor:not(.mini)':
  'ctrl-alt-r': 'refactor:rename'

  And second problem: not work if file a not compileable

[2015-11-10 11:22] hax commented on #4
I found that ternjs plugin use `ctrl-alt-c` for rename. ( https://github.com/tststs/atom-ternjs/blob/master/keymaps/atom-ternjs.cson )
Don't know whether it's a good choice.

[2015-11-10 13:27] przezor commented on #12
:+1:  Are there any plans for that? :)

[2015-11-12 20:51] rafaelcn commented on #4
Hello @hax , I opened a [thread](https://discuss.atom.io/t/refactor-is-not-working-at-all/22645) on atom discussion about this, can you check it out? It looks like the Refactor package is not _reacting to atom commands_ as leedohm said.

I'm using linux currently if it helps.

[2015-11-13 21:17] hax commented on #4
@rafaelcn Sorry, rename only works for variable not method/property. The latter need more complex analyze of AST.

[2015-11-13 21:21] rafaelcn commented on #4
So we will need to make improvements! :smile:
I'm willing to help.

[2015-11-13 21:23] rafaelcn commented on #4
And I had to change the default keystroke, on linux, `ctrl-alt-r` reloads Atom.

[2015-11-13 21:39] hax commented on #4
Help is welcome :smiley_cat:

I will release a new version which change the default keystroke soon.

[2015-11-17 09:56] ebugusey opened #13 "Add activation command"
Can't run refactor from command palette (ctrl-shift-p). There is no activation command for it.

[2015-11-17 11:54] #13 closed

[2015-11-21 05:15] tusharmath commented on #12
Yup, seriously.

[2015-12-17 14:14] xpeH opened #15 "Uncaught TypeError: Cannot read property 'length' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.3.2
**System**: Microsoft Windows 8.1 Pro
**Thrown From**: [refactor](https://github.com/hax/refactor) package, v0.6.0

### Stack Trace

Uncaught TypeError: Cannot read property 'length' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-01-06 16:40] PhiLhoSoft commented on #4
I chose `alt-shift-r`, free on my system, keeping the R mnemonic. Some package creators just provide an empty keybinding map, as finding a sensible shortcut across Atom versions, locale changes (via the `keyboard-localization` package) and installed packages is becoming increasingly hard!

[2016-01-06 16:46] PhiLhoSoft commented on #8
Yes, that's what the https://atom.io/packages/extract-selection package does, but for _refactor_ to merit its name, it should increase the palette of refactorings... And having all refactorings within the same package would be nice.

Another possible refactoring: allows to reorder the list of parameters of a function. Like in Eclipse. Difficulty: also change the call sites... Harder in JS than in

[2016-01-06 17:06] PhiLhoSoft commented on #12
IMHO, it is nearly impossible to do that (in a reliable way) in JavaScript. For example, you rename a `process()` method in a class / module / object, but you probably have no way to know if an occurrence of `process()` belongs to this entity or to another that happens to use the same name...

In other (statically typed) languages, that would need to maintain a database of symbols with their hiera

[2016-01-06 17:08] tusharmath commented on #12
Webstorm does an amazing job with that.

On Wed, Jan 6, 2016 at 10:36 PM Philippe Lhoste notifications@github.com
wrote:

[2016-01-06 17:11] PhiLhoSoft commented on #12
Sure, and they have a (big?) team of full-time employees to work on the feature... :smile:
But at least, it shows it might be possible.

I briefly used WebStorm (for the trial period...), I don't recall using the feature. Do you care to describe how it works (or to give a link to a page describing it)?

[2016-01-06 17:44] tusharmath commented on #12
There you go — https://www.jetbrains.com/webstorm/help/refactoring-source-code.html
Features include —
- Copy/Clone
- Move
- Rename
- Safe Delete
- Extract Method
- Inline
- Extract Variable
- Extract Variable for Sass
- Change Signature in JavaScript
- Extract Parameter in JavaScript
- Extract Variable in JavaScript

That is the reason, why I have permanently shifted to Webstorm — Amazing refacto

[2016-01-06 19:49] webxl commented on #8
That plugin only partially does what I'm looking for. I'm just spoiled by Resharper and Webstorm, I guess. Their implementation could optionally replace all occurrences of the expression in the block and place the assignment at the appropriate spot, e.g. above the first use of the expression in the function in the case of JS.

[2016-01-15 08:14] borisdiakur commented on #10
+1

[2016-03-09 21:04] Norfeldt commented on #4
Also an windows user.. I couldn't make this work, but found out having installed the "Highlight Selected" package and using CTRL+D first highlights all instances. Repeating CTRL+D allows renaming..

Not having this package also allows renaming, but only for instances occurring after the selected and not the ones before.

I would however like to use this package instead since I notice that it also

[2016-03-10 08:26] kili-ilo commented on #4
@hax any news on the new version? on Windows it's still broken

[2016-03-10 13:21] PhiLhoSoft commented on #4
@jvanbrug What is "broken"? I use this package on Windows for quite some time, and it works rather fine, overall.

[2016-03-11 09:28] kili-ilo commented on #4
@PhiLhoSoft with `js-refactor`, even after binding a shortcut other than `ctrl-alt-r`, I couldn't get it to ever refactor a variable - it could totally be my fault, but I assume it has something to do with @Norfeldt's problem

[2016-03-11 10:18] Norfeldt commented on #4
I have MANY packages installed... like autocomplete and Emmett.. could very well be some sort of collision.
@philhsoft what packages do you have?

[2016-03-11 16:30] PhiLhoSoft commented on #4
My list of plugins is at https://gist.github.com/PhiLhoSoft/b61b3e3d13ebd802bb08
As said, Ctrl+Alt+R is bound to "reload Atom", you might want to change the shortcut.

[2016-03-11 16:45] jontonsoup opened #16 "Does this work with vim-mode?"
I can't seem to rename any variables. Is it possible vim-mode doesn't work for this?

Best,
Jon

[2016-03-13 23:45] Davilink commented on #4
I finally succeed to bypass the window:reload config with this (in the keymap config file):

[code]

And refactor need the js-refactor package.

[2016-03-14 13:52] hax commented on #16
Yes it works, but you need to enter edit mode before executing rename command.

[2016-03-14 19:19] jontonsoup commented on #16
@hax verified it works! Do you think there is a way to make it work outside of edit mode?

[2016-03-15 13:31] hax commented on #16
@jontonsoup I guess it need to check the source code of vim-mode to see how to switch to edit mode.

[2016-03-15 23:52] jontonsoup commented on #16
I’m actually not getting consistent behavior from this. Sometimes it works in edit mode, and sometimes it doesn’t. 

[2016-03-21 18:39] RicardoGeek opened #17 "ctrl-alt-r for mac"
the shortcut: `ctrl-alt-r`
is not working for mac os :disappointed:
it should map to `control+option+r`

[2016-03-31 15:52] henrikrudstrom commented on #12
has anyone looked into [GraspJS](http://www.graspjs.com/) it does refactoring on the AST. I ended up here when i was looking for an atom integration...

[2016-03-31 21:27] PhiLhoSoft commented on #12
I didn't know the tool. Looks very interesting. Note that there are other libraries producing an AST, eg. Esprima used by ESLint, and some others. You can find a relatively comprehensive list in http://astexplorer.net/

[2016-04-06 06:36] mindjuice commented on #4
This wasn't working for me either.  The problem was that I was trying to rename in ES6 code, which it apparently doesn't support.

Switching to a plain JS file worked.

[2016-04-06 15:47] hax commented on #4
@mindjuice We already have basic ES6 support. Could you help me to find which part of your ES6 code cause the problem?

[2016-04-06 19:07] mindjuice commented on #4
Oh...sorry for jumping to conclusions.

Looks like it just either needed me to restart Atom, or perhaps just close all active files and reopen them.

I was able to get it working with `const` and `let` now.

Would be nicer if it "just worked" after installing it, if possible.

One thing is that the highlighting is pretty glitchy.  Sometimes a highlight stays after I'm no longer on a given variable

[2016-04-06 19:09] mindjuice commented on #10
This is happening for me too.

![screen shot 2016-04-06 at 12 05 44 pm](https://cloud.githubusercontent.com/assets/934638/14329481/5ce1e94a-fbf0-11e5-98e0-cf1434e43f1d.png)

Pressing the shortcut key over and over causes the highlights to be added again each time too.

[2016-04-08 14:10] Redsandro commented on #15
`refactor-js` also stopped working for me. I believe it was after I installed [toggle-quotes](https://github.com/atom/toggle-quotes) and `seti-ui`. Not sure if that's relevant.

[2016-04-11 12:30] Redsandro commented on #10
I have the same issue. There are other ways of triggering this. Sometimes I don't know what I did, but they stay indeed.

[2016-04-11 12:32] Redsandro opened #18 "Can we have a different color for read and write occurrences?"
The highlighting is very convenient, even if you don't want to refactor.
I was wondering if it's possible to have a different highlight style for read (e.g. green) and write (e.g. red) occurrences?

[2016-04-27 20:14] YarnSphere commented on #10
This seems to happen to me when saving (pressing `Ctrl`+`S`) while the cursor is on some variable (and the marker is showing).

**Edit:** Apparently, the same happens when pressing `Ctrl`+`C` when the cursor is on a variable.

[2016-04-28 18:19] nerdpad commented on #17
Does this work on mac at all?

[2016-05-06 04:16] andy9775 opened #19 "highlights JSX as error"
Hey, if I have this plugin installed and running it for some reason shows on html/jsx. [Here](https://discuss.atom.io/t/atom-throwing-an-error-with-jsx/28551) is the issue that I submitted to the atom forums which includes a screenshot.

[2016-05-08 15:34] livelazily commented on #10
It can reproduce by pressing the rename shortcut (`ctrl-alt-r`) **more then twice** in the same variable, then move cursor outside of the variable by using mouse, the marker was still there.

[2016-05-18 22:07] Redsandro opened #20 "Can we add highlights to minimap?"
Can we add highlights to minimap?

[2016-05-31 01:59] yeluoqiuzhi opened #21 "There is no effect"
Hi, there!
I hava install refactor and js-refactor.
I follow your readme to use it, but there is no effect and error.

How should I do?

Atom version: 1.7.3

[2016-05-31 03:26] fallenleavesguy commented on #21
I don't know why. It's fine, I just update atom to 1.7.4

[2016-05-31 03:26] #21 closed

[2016-06-01 23:45] maboelsoud commented on #10
ya it seems to be happening with me too. Whenever i press `cmd + s` or `cmd + c`

[2016-06-13 11:23] AntonioRedondo commented on #4
Same issue here with 0.6.0 version. If this is still alive I suggest `shift+f6` shortcut (the same than JetBrains/IntelliJ products). In the meanwhile and as suggested by @Norfeldt it looks like with the `highlith-selected` package and after pressing `ctlr+d` makes the rename variable job very well.

[2016-06-20 16:16] ghost commented on #17
@NerdPad It does not work on Mac at all (OS X El Capitan, Atom 1.8.0).

[2016-06-24 02:22] hax commented on #5
no further report, closed

[2016-06-24 02:22] #5 closed

[2016-06-24 02:25] hax commented on #19
Please update to latest version of both js-refactor/refactor packages which should support JSX now.

[2016-06-24 02:25] #19 closed

[2016-06-24 02:29] hax commented on #15
Pls try the lateset version. If still problem, just reopen this issue.

[2016-06-24 02:29] #15 closed

[2016-06-24 02:34] hax commented on #12
This project is only for renaming the symbols in the scope (js-refactor plugin support function scope, block scope, or module scope). It's very hard to deal with cross-modules renaming. You should use full fledged IDE for such tasks.

[2016-06-24 02:34] #12 closed

[2016-06-24 02:35] hax commented on #10
It should be fixed in 0.6.1+. If anyone see it again  ,pls reopen this issue.

[2016-06-24 02:35] #10 closed

[2016-06-25 02:03] hax opened #22 "Investigate keybindings"
There are many complain about current keybinding settings, especially on win32. I need more time to investigate and will update this issue.

### Mac

Current keybinding: ctrl-alt-r

| key | source |
| ---- | ---- |
| ctrl-alt-c | atom-ternjs:rename |
| ctrl-cmd-g | find-and-replace:replace-all |
| ctrl-cmd-E | Xcode: Edit all in scope |
| ctrl-cmd-r |

### Windows

Current keybinding: ctrl-alt-r
w

[2016-06-25 02:11] hax commented on #4
Closed. Further discussion of keybinding issues could goto #22 .

[2016-06-25 02:11] #4 closed

[2016-06-25 02:12] hax commented on #17
Closed. Further discussion of keybinding issues could goto #22 .

[2016-06-25 02:12] #17 closed

[2016-06-29 11:10] IPWright83 commented on #22
It'd be really nice if you gave some instruction on how to change the key-binding. I've just installed Atom editor to try and although I've found the `keymap.cson` file I have no idea what I should be putting in there...

[2016-06-29 11:14] IPWright83 commented on #4
I've tried re-binding (which I think I've done), but it just doesn't seem to do anything. I've produced a very minimal example which doesn't seem to work either within, or across files:

_A.js_

[code]

_B.js_

[code]

[2016-06-30 04:11] hax commented on #18
The new version has implemented this idea.
Note: it need language packages give the information of references. Up to now only latest js-refactor support this.

[2016-06-30 04:13] #18 closed

[2016-06-30 04:49] hax commented on #22
@IPWright83 Good idea, I add a example in README.

[2016-06-30 07:08] hax commented on #4
Renaming across files is out of current scope of this project. (It require read and analysis all js files in project and will be very heavy, just like a true IDE.)

But at least when you rename `Foo` to `Bar` in `B.js`, it will be refactor to:

[code]

And you should add `export` in `A.js`.

[2016-07-01 07:43] IPWright83 commented on #4
@hax but in file _A.js_ when I attempt to rename the `bar` function, nothing happens when I press the bound shortcut, so I can't even rename within the same file?

[2016-07-02 18:55] hax commented on #4
@IPWright83 Could you try latest versions? (js-refactor 0.7.3)

[2016-07-06 02:25] kentcdodds opened #23 "Oddly breaks icons when enabled..."
I'm not sure what could possibly be causing this, but when I enable this plugin, sometimes my icons stop working. For example:

<img width="590" alt="screen shot 2016-07-05 at 8 23 49 pm" src="https://cloud.githubusercontent.com/assets/1500684/16605673/6cee9fe6-42ee-11e6-9348-878895a8bc23.png">

You'll notice the icons are all just squares. If I disable the refactor plugin, then the icons work aga

[2016-07-06 15:35] hax commented on #23
It's weird... I will investigate it.

[2016-07-15 00:02] Redsandro commented on #18
@hax I would like to have a read and write occurance highlight, not just an underline. This makes it quicker to spot. Is there a way I can configure this?

[2016-07-15 09:15] hax commented on #18
@Redsandro You can customize it in your stylesheet (menu Atom->stylesheet...). See https://github.com/hax/refactor/blob/master/styles/refactor.less#L15-L23 for current styles.

To add highlight like old version, just:

[code]

[2016-07-15 09:59] Redsandro commented on #18
@hax thanks, it works very nice. :+1:

Reference:

[code]

[2016-07-16 20:04] gidztech commented on #15
This issue is occurring for me. I just installed `refactor` and `js-refactor` and when I run the shortcut I get this same error message.

[2016-07-17 08:33] hax commented on #15
@gidztech Could you provide the code which trigger the error? Thank you.

[2016-07-17 10:32] gidztech commented on #15
@hax The strange thing is that I just tried it again with the same script I was working on yesterday and it works fine now. I can't explain it though. Maybe a reboot of my computer did something.

[2016-07-18 08:36] falkowski-os opened #24 "Problem with proto"
Hi, When I try do refactor method `Document.prototype.initButtons` to src was added chars and this method isn't highlight in other place
`Document.prototype.initButtons = function () {
    "use strict";
    this.setButtonEnable("prevPage", false);
....
}`

[2016-07-18 15:42] hax commented on #24
This issue belongs to https://github.com/hax/js-refactor , and js-refactor only support refactoring of local variable. It's hard to track member properties/methods, especially in dynamic language like js.

[2016-07-18 15:42] #24 closed

[2016-08-09 08:41] TimeWanderer commented on #23
Any updates on this?

[2016-08-13 05:53] sgsvenkatesh opened #25 "Disable overriding of selection highlight color"
Option to disable overriding the colour of selection highlighting.

![image](https://cloud.githubusercontent.com/assets/4642729/17641658/e72f5d10-6146-11e6-918a-2a3594088c92.png)

It is important that the user preference to select the text should not be overridden by an operation that is not intended anymore.

[2016-08-13 06:09] sgsvenkatesh opened #26 "Selection highlighting moves to different argument when multiple arguments are selected"
To reproduce, select an argument -> select multiple arguments (using alt-shift-right / expand-selection) -> selection highlights a different parameter.

Ideally, either no argument should be selected or the initially selected argument should remain selected.

![1](https://cloud.githubusercontent.com/assets/4642729/17641731/f7e08fb4-6149-11e6-95b6-b3a31e648861.gif)

[2016-08-15 08:40] hax commented on #25
The default styles of latest version has changed to colored underlines. So it seems you (or some other plugins) wrote some custom styles.

[2016-08-15 14:05] sgsvnk commented on #25
Even if it custom, shouldn't the selection be given more importance than argument selection when multiple arguments are selected? And underlines, would still come on top of selection colors right?

[2016-08-16 03:08] hax commented on #25
@sgsvenkatesh Refactor just add some [decorations](https://atom.io/docs/api/v1.9.8/Decoration) for symbols, it depends on Atom itself to deal with the render effect of selections and decorations.

[2016-09-29 15:06] crobinson42 opened #27 "After ctr+alt+r the var stays highlighted?"
https://www.dropbox.com/s/06cs8i09kjipjpu/Screenshot%202016-09-29%2008.05.40.png?dl=0

Is this expected behavior and if so what is the hot-key to remove the highlight?

[2016-10-14 02:40] zaaack opened #29 "Rename not working"
Hightlight is working, but either rename shortcuts or commands are not working.

[2016-10-14 06:52] gerard2perez commented on #29
I'm working on windows and it does nothing...

[2016-10-14 09:22] thisdotrob commented on #29
Same here. On OSX with latest stable Atom. Shortcuts and commands not working

[2016-10-17 10:09] deed02392 commented on #29
Came here as it's also not working here, latest Atom Windows x64.

[2016-10-17 13:32] PurpleMagick commented on #23
Still getting the problem after the update to 0.10.0 if both this plugin and **js-refactor** are enabled. I tried disabling everything else but those two and it seems consitent.

[2016-10-19 02:32] zaaack commented on #29
Hi, everyone, I got sometime to debug this package recently, and find out the reason why not working.

Looks like after the atom upgraded, the coffee compiler works a little different and cause the old way to iterate a Set is not working.

I just change the loop in https://github.com/hax/refactor/blob/master/lib/refactor.coffee#L59 and the problem is fixed.

[code]

Here is the pr: https://github.

[2016-11-05 18:17] RB-Lab commented on #23
Confirm. Refactor 0.10.0, js-refactor 0.7.3; problem still there...

[2016-11-09 11:02] Tokimon commented on #4
I have the same problem.

I have just installed js-refactor 0.10.0 and I still can't rename my variables etc. in my JS.
Normally I work in ES6, so I was wondering if that was the problem, but it didn't even work with this basic example:

[code]

When I call the command `refactor:rename` (trying to refactor `a`) nothing happens.

### What I have tried
- Disabling _'window:reload'_ (which annoyed me

[2016-11-14 05:46] sgsvenkatesh opened #31 "Stopped working after recent Atom/Refactor update"

[2016-11-14 05:49] sgsvnk commented on #31
Same as issue #29

[2016-11-14 05:49] #31 closed

[2016-11-14 05:49] sgsvnk commented on #29
@zaaack This perfectly solved the problem. Hope this will be merged and released soon.

[2016-11-17 07:48] #29 closed

[2016-11-17 18:45] jesusjimsa commented on #22
I have tried all combinations of keybindings but it continues not working, I'm on a Mac with Sierra.

[2016-11-18 00:47] livelazily opened #32 "Uncaught TypeError: ref.dispose is not a function"
[Enter steps to reproduce below:]

1. Just close a file tab

**Atom Version**: 1.12.4
**Electron Version**: 1.3.9
**System**: Mac OS X 10.12.1
**Thrown From**: [refactor](https://github.com/hax/refactor) package, v0.11.0

### Stack Trace

Uncaught TypeError: ref.dispose is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-11-18 00:56] mutsys commented on #32
Ditto:

**Atom version**: 1.12.4
**refactor version**: 0.11.0
**macOS version**: 10.12.1

[code]

[2016-11-18 08:38] #32 closed

[2016-11-18 08:56] hax commented on #27
It's a recent bug and should be fixed now. Pls try update to new version.

[2016-11-18 08:56] #27 closed

[2016-11-18 13:42] yaplas opened #33 "Uncaught TypeError: this.ripper.dispose is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.12.4
**Electron Version**: 1.3.9
**System**: Mac OS X 10.12.1
**Thrown From**: [refactor](https://github.com/hax/refactor) package, v0.11.1

### Stack Trace

Uncaught TypeError: this.ripper.dispose is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-11-18 17:07] devmi commented on #33
Same issue

Atom Version: 1.12.4
Thrown From: refactor package, v0.11.1

## Stack Trace

[code]

[2016-11-18 20:13] patkirts commented on #33
Same issue, when I close any atom tab.
Atom 1.12.4, refactor 0.11.1

[2016-11-19 07:32] zaaack opened #34 "TypeError: _ref.dispose is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.11.2
**Electron Version**: 0.37.8
**System**: Mac OS X 10.12.1
**Thrown From**: [refactor](https://github.com/hax/refactor) package, v0.11.0

### Stack Trace

Uncaught TypeError: _ref.dispose is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-11-19 07:33] zaaack commented on #33
Same here.

[2016-11-19 07:33] zaaack commented on #34
https://github.com/hax/refactor/issues/33

[2016-11-19 07:33] #34 closed

[2016-11-19 18:45] mikeerickson commented on #33
Here is what I am receiving (seems to be hungup on the coffee watcher, which I am not even using

![image](https://cloud.githubusercontent.com/assets/183153/20457534/7a811714-ae42-11e6-9ef3-a4736d4d8ff4.png)

[2016-11-20 09:09] netsi1964 commented on #32
After I updated refactor package I now have a new problem: [https://github.com/hax/refactor/issues/33](https://github.com/hax/refactor/issues/33)

[2016-11-21 00:58] zaaack commented on #33
The right fixup should be `@ripper?.dispose?()` in https://github.com/hax/refactor/commit/c12c4fa820578e0ae0c31580f542c0ab1d6adaeb#diff-916ed9ff3af024bb3f86b2b51b79b5c4L59

[2016-11-21 13:29] IceOnFire commented on #33
I edited the code by hand and the fix works. Shall we open a pull request?

[2016-11-22 09:54] hax commented on #33
PR is welcome :)

[2016-11-22 10:06] IceOnFire commented on #33
https://github.com/hax/refactor/pull/35 locked and loaded!

[2016-11-25 13:15] mschipperheyn commented on #33
Let's merge this one! This issue is a nightmare!

[2016-11-25 13:47] IceOnFire commented on #33
@hax, are you there?

[2016-11-28 19:45] mattiascaricato commented on #33
merge plz :3

[2016-11-28 19:46] mattiascaricato commented on #9
same issue here

[2016-11-28 20:44] steebchen commented on #33
Edited it manually weeks ago, was incredibly annoying.

[2016-12-01 00:16] patrickhulce commented on #23
I'm also experiencing this problem

Atom: 1.12.6
Refactor: 0.11.1
js-refactor: 0.7.3

![screen shot 2016-11-30 at 4 14 57 pm](https://cloud.githubusercontent.com/assets/2301202/20776915/4eae7d00-b718-11e6-8191-a9999d6cfdcb.png)

[2016-12-02 07:50] #33 closed

[2016-12-03 19:44] ismailarilik opened #36 "Deprecated selector in `refactor\styles\refactor.less`"
In `refactor\styles\refactor.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selectors:

[2016-12-04 09:56] jhegedus42 commented on #4
Does not work, using vi plugin...., without vi, it works...

[2016-12-05 04:38] patrickhulce commented on #23
@hax FYI this seems to happen because all the requests (including the fonts that enable the icons) in Network panel show up as 'Cancelled' when this happens and it seems to be js-refactor that's the culprit in my case not just refactor (or just coincidence of my enabling cycle)

![image](https://cloud.githubusercontent.com/assets/2301202/20873908/822b3852-ba61-11e6-9df9-64b66133ba8f.png)

[2016-12-06 01:33] caesar commented on #23
Same issue here. I'm using it with `js-refactor` so not sure which is causing the problem – disabling either fixes it.

[2016-12-06 06:33] patrickhulce commented on #23
Also related https://discuss.atom.io/t/all-icons-fail-to-load-on-startup/31889/8

[2016-12-08 07:30] hax commented on #4
@jhegedus42 Do you mean vim-mode plugin?

[2016-12-08 08:20] sgsvnk commented on #23
This issue has been there for quite some time and is being investigated. I was hoping a resolution in the recent release, but there isn't any. Same issue again with the recent update.

More Info on this issue at [[1]](https://github.com/hax/refactor/pull/28) and [[2]](https://github.com/hax/js-refactor/issues/18).

[2016-12-12 06:41] hax commented on #36
PR is welcomed!

[2016-12-14 18:49] Redsandro commented on #2
@mat-b- It's 18 months later now. Have you found an alternative?

[2016-12-15 07:42] hax commented on #2
You could try https://atom.io/packages/php-integrator-refactoring (though I'm not lucky with it)

[2016-12-15 09:37] Redsandro commented on #2
@hax Thanks. I tried it. It's a bit overkill for this and it doesn't like me either. :wink:

I don't even necessarily want to refactor; I just want to highlight read- and write occurrences of the selected variable. `js-refactor` is nice. I tried to 'port' it to php but I underestimated the complexity. :sob:

[2016-12-21 10:45] birgersp opened #37 "Cannot find module 'debug/browser'"
[Enter steps to reproduce below:]

1. Install package

**Atom Version**: 1.12.7
**Electron Version**: 1.3.13
**System**: Microsoft Windows 10 Pro
**Thrown From**: [refactor](https://github.com/hax/refactor) package, v0.11.2

### Stack Trace

Failed to load the refactor package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-12-21 18:43] gdoublev commented on #37
Encountering same issue.

[2016-12-21 22:54] jgrauel commented on #37
I am as well

[2016-12-23 00:12] atomicwrites commented on #37
Me too
<details>
  <summary>Bug Report</summary>
  <p>

**Atom Version**: 1.12.7
**Electron Version**: 1.3.13
**System**: Microsoft Windows 10 Home
**Thrown From**: [refactor](https://github.com/hax/refactor) package, v0.11.2

### Stack Trace

Failed to load the refactor package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]
</p>
</details>

[2016-12-23 12:46] bbrzoska commented on #37
Me too, happens immediately after installing / activating.

<details>

**Atom Version**: 1.12.7
**Electron Version**: 1.3.13
**System**: Mac OS X 10.11.1
**Thrown From**: [refactor](https://github.com/hax/refactor) package, v0.11.2

### Stack Trace

Failed to load the refactor package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]
</details>

[2016-12-25 14:45] marvoh opened #38 "Failed to load the refactor package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.12.7
**Electron Version**: 1.3.13
**System**: Ubuntu 16.04.1
**Thrown From**: [refactor](https://github.com/hax/refactor) package, v0.11.2

### Stack Trace

Failed to load the refactor package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-12-25 19:29] dontuse commented on #38
+1

[2016-12-26 05:44] Hyllesen commented on #38
+1

[2016-12-26 22:44] arctelix commented on #37
+1

[2016-12-26 22:44] arctelix commented on #38
+1

[2016-12-27 05:20] McPrescott commented on #38
+1

[2016-12-27 11:46] #37 closed

[2016-12-27 11:47] #38 closed

[2017-01-11 08:07] livelazily opened #39 "Deprecated selector in `refactor/styles/refactor.less`"
In `refactor/styles/refactor.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selectors:

[2017-01-14 12:44] piotrv commented on #39
+1

[2017-01-15 00:25] dieisonbeck commented on #39
+1

[2017-01-15 05:31] hax commented on #39
Duplicated with #36

[2017-01-15 05:31] #39 closed

[2017-01-19 10:49] danielancines commented on #22
I'm using Mac OS Sierra and the keybinding `ctrl-cmd-r` worked for me.

[2017-01-22 11:00] #36 closed

[2017-01-31 00:07] miltonguty commented on #39
+1

[2017-02-05 00:17] edarblanco opened #42 "Deprecated selector in `refactor/styles/refactor.less`"
In `refactor/styles/refactor.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selectors:

[2017-02-08 15:38] RenaldasK commented on #36
First of all thanks a lot for your great work!

And second:
Will there be a new release coming out anytime soon with this fix?

[2017-02-16 18:03] mairanteodoro commented on #42
Has anyone had the chance to look into this issue?

[2017-02-16 18:19] mairanteodoro commented on #42
For some reason, installing `refactor` via Atom's Install option doesn't get the updated code that's on GitHub. I had to manually change `atom-text-editor::shadow` to `atom-text-editor.editor` to get rid of the deprecated selector message.

[2017-02-22 21:18] jozolr opened #43 "Uncaught TypeError: Cannot read property 'delete' of null"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.14.3 ia32
**Electron**: 1.3.13
**OS**: Unknown Windows version
**Thrown From**: [refactor](https://github.com/hax/refactor) package 0.11.3

### Stack Trace

Uncaught TypeError: Cannot read property 'delete' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-03-11 08:05] jinalskothari commented on #42
I am on Atom 1.15.0 and refactor 0.11.3. No new refactor version is available when I check for updates. I too see the 'Deprecated selector' warning. Is this expected?

@mairanteodoro , could you please elaborate on what you did?

[2017-03-11 08:24] jinalskothari commented on #42
Like @mairanteodoro, I edited the file `refactor/styles/refactor.less` .

On line 4 (on refactor@0.11.3) I changed `atom-text-editor::shadow` to `atom-text-editor.editor`.

I no longer see any 'Deprecated selector' warnings.

[2017-03-13 13:53] rhewitt22 commented on #42
@hax It looks like the less file was updated in the source code, but the published v0.11.3 still uses `::shadow`.  Could you publish an update?

[2017-03-18 22:15] morgzz commented on #43
I ran into this problem today with refactor 0.11.3 installed. I ended up disabling it due to the depreciation cop yelling at me that it has been depreciated. When I'd close a tab it would pop up with the mentioned error. Just exit Atom and restart; it shouldn't error again of course assuming you've disabled the package.

[2017-04-03 02:51] wattachai commented on #36
@hax Is there anything I can help on the new release to fix this issue?

[2017-04-06 08:24] hax commented on #36
New version released.

[2017-04-06 08:31] wattachai commented on #36
Deprecation warning is a past now. Cheers to @hax!

[2017-04-11 14:13] Zephilim opened #45 "ctrl-alt-r in not invoking js-refactoring function in Atom"
This plugin is not working. I have it installed in Atom and it appears to be activated. However, if I go to the Packages menu, there is no entry for either refactor or js-refactor. If I select a symbol, then hit ctrl-alt-r, then nothing happens.

[2017-04-25 05:05] hoonoh opened #46 "Cursor moves to top of document after finishing refactoring"
The cursor moves to the very top of the document (0:0) after refactoring has been done. For shorter documents which the whole area is displayed within screen height it shouldn't be too much of a problem but for longer codes, it is very frustrating to go back to where I have been editing last. (Most of time I try undo & redo again to move the cursor back to where I last edited)

Maybe this is cause

[2017-05-18 01:16] zaaack commented on #46
Same here.

[2017-06-17 20:13] ChrislyBear-GH commented on #45
Same here. It's broken.

[2017-06-19 08:12] #46 closed

[2017-07-02 08:19] piersg commented on #45
+1. Seems installed, shortcut not doing anything. Atom Mac 1.12.9

[2017-07-04 09:18] zecarrera commented on #45
I have also installed, and trying to use it on Atom Mac 1.18.0... but can't seem to get it to work

[2017-08-27 15:01] gamaralf commented on #45
+1. The "coffee-reactor" plugin is not working either, the problem seems to be "refactor".

I am using Atom "1.19.3 x64"  on Ubuntu Linux.

[2017-08-29 17:55] brian-lamb-software-engineer commented on #22
On windows-7 nothing works for me, tried every suggestion [here](https://github.com/hax/refactor/issues/4)

I have seen some not sure about whats mapped, and others not check, so word-to-the-wise make sure when you guys are trying to find existing keys that are already mapped, you go to File->Settings->keybindings, then type in teh combo to search for it, to see whats already mapped in that area.

[2017-08-30 06:42] vmasrani commented on #45
+1. Same here, Atom Mac 1.19.2 x64

[2017-09-05 21:20] machineghost opened #50 "So this plugin is dead and no longer supported?"
Just verifying: it would seem from this https://github.com/hax/refactor/issues/45 (which shows the plug-in hasn't worked since April) that this project is dead.  I'll take a lack of response as confirmation ;)

[2017-09-11 18:04] hax commented on #50
No, this plugin is not dead. And I always eat the dog food, so I can confirm both js-refactor and coffee-refactor still work on the recent Atom 1.19.x.

[2017-09-11 18:04] #50 closed

[2017-09-11 18:08] hax commented on #42
Close old issue which already fixed.

[2017-09-11 18:08] #42 closed

[2017-09-11 18:16] hax commented on #45
Both js-refactor and coffee-refactor plugins still work properly on recent Atom 1.19.x though there may be bugs.

If you meet problem, please give details such as the error info or the code snippet.

Note, you must see the background like selection (or colored underlines in the case of js-refactor) on var names, or there will be no effect for `ctrl-alt-r` because it's not recognized as a var name

[2017-09-11 18:16] #45 closed

[2017-09-11 18:28] hax commented on #25
Close old issue.

[2017-09-11 18:28] #25 closed

[2017-09-21 12:34] carestad commented on #22
How does it work in Linux?

[2017-10-15 05:31] kentcdodds commented on #23
I'm not using this project anymore, so I'll go ahead and close this :)

[2017-10-15 05:31] #23 closed

[2017-10-15 05:32] kentcdodds commented on #23
FWIW, I was unable to reproduce the issue anymore and now it seems that it's simply not working 🤷‍♂️

[2018-01-17 02:42] greenkeeper[bot] opened #51 "An in-range update of semver is breaking the build 🚨"
## Version **5.5.0** of [semver](https://github.com/npm/node-semver) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hax/refactor/compare/greenkeeper%2Fsemver-5.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      semver
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versi

[2018-02-09 08:37] FDiskas commented on #22
for me it's never worked on linux mac and windows
peace of ...

[2018-02-25 09:14] James2516 opened #52 "Refactoring file and variable names across files"
This package does not seem to support refactoring/renaming file and variable names across multiple files in the same project.

[2018-03-04 21:42] oliverhausler opened #53 "Warning for ?. when refactor is enabled"
https://www.npmjs.com/package/@babel/plugin-proposal-optional-chaining

![image](https://user-images.githubusercontent.com/8090341/36950919-c26eb2c0-1fb1-11e8-8926-7700948b42b0.png)

[2018-03-07 06:27] hax commented on #53
Could you provide me the warning message?

[2018-03-07 06:30] hax commented on #53
Ok. I think it is because `?.` only available in babel 7. And the previous version of js-refactor are using babel 6. You could upgrade js-refactor package. If still problem, please submit issue to https://github.com/hax/js-refactor/issues

Thank you.

[2018-03-07 06:30] #53 closed

[2018-05-17 14:59] eleedom commented on #2
The docs page, for this package claims it works with PHP (and js and coffeescript) but clicking php links here which seems to indicate that it is not support.  More importantly, i cannot get it to on my PHP code so i am going to say this does not work and the claim that it works in the documentation should be removed

[2018-05-20 15:49] ChristopherFunk opened #54 "TextBuffer.setTextInRange is deprecated."
The Depreciation Cop popped up for me today:

The `undo` option is deprecated. Call groupLastChanges() on the TextBuffer afterward instead.
[code]

[2018-06-05 07:06] hax commented on #54
PR is welcomed 😃

[2018-06-07 16:41] ChristopherFunk commented on #54
This message stopped appearing magically a few days ago, I suppose it's working correctly now. I'll close it for now though.

[2018-06-07 16:41] #54 closed

[2018-08-17 16:19] nemoDreamer commented on #54
Aaaand it's back.

[2018-11-21 15:06] nemoDreamer opened #56 "TextEditor.getScrollTop is deprecated."
This is now a view method. Call TextEditorElement::getScrollTop instead.

[code]

[2018-12-04 12:42] hax commented on #56
PR is welcome

[2018-12-15 15:52] akisan83 commented on #22
Still can't?

[2018-12-19 14:13] LeOmnom opened #57 "Not working for 1.33.0"
## Tried without success
* change keymap: 'atom-text-editor:not(.mini)': 'ctrl-shift-x': 'refactor:rename'

[2018-12-19 14:22] #57 closed

[2018-12-19 14:24] ghost commented on #57
`'atom-text-editor:not(.mini)':
  'ctrl-alt-r': 'unset!' // <- forgot this
  'ctrl-shift-x': 'refactor:rename'
`

[2019-07-03 18:00] theabeing opened #59 "Just does nothing"
Installed latest version (0.11.5) with latest atom version (1.38.2 x64) on windows 10 and enabled it.
then I put the cursor to a variable and hit ctrl+alt+r and ..... nothing happens.

[2019-07-04 04:37] hax commented on #59
You need also install js-refactor (for js) or coffee-refactor (for coffee) to make it work.

[2019-07-04 06:19] krearthur commented on #59
thanks, works fine now :) Should have read the doc more carefully, but I find it also a bit surprising to have to install 2 plugins to enable refactoring (which is a super basic feature and should come out of the box, like in vs code) but thats not your fault.

[2019-08-14 04:07] gatttty commented on #59
Thanks,

I'm curious how many people have read this, and done it. coffee-refactor has 1,554 installs, whilst refactor has 58,202 installs. Though, js-refactor is up there with 31,385 installs.

**I'd like to re-open this case.** As it's doing nothing after installing the suggested packages. This is such a great plugin idea.

Kind regards,

[2019-08-14 04:28] hax commented on #59
It's a good idea to give a UI hint for those who installed refactor but no xxx-refactor. PR is welcome :-)

[2019-10-28 07:11] Asc2011 commented on #59
i've seen a console-message with a precise 00000.545345345 ms value, telling me that refactoring is now activated. From then on nothing happened ?
I installed all three plug-ins and activated via panel - does absolutly nothing ?

[2019-10-28 10:10] hax commented on #59
@Asc2011 Not sure what happen. Actually I don't have time to maintain this repo anymore (and I'm moving to VSC instead of Atom), hope someone could take over this repo.

[2020-04-18 10:46] ErtYwek commented on #59
So it works only for js and coffeescript? **I search for something like that for Lua and Python.**

[2021-01-19 11:49] NicoWeio commented on #59
For me, it worked once I forced a reload of the editor window (<kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>F5</kbd>).